.attributes {
    display: flex;
    justify-content: space-between;
}

.group {
    flex: 1;
    padding: 10px;

    .header {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    div {
        display: flex;
        justify-content: space-between;
    }
}
